.splide__pagination {
  position: relative !important;
  margin-top: 1rem !important;
  display: flex !important;
  justify-content: center !important;
  gap: 0.75rem !important;
  z-index: 10 !important;
  bottom: auto !important; /* tira o posicionamento padrão embaixo do card */
}

.splide__pagination__page {
  width: 12px !important;
  height: 12px !important;
  border-radius: 9999px !important; /* círculo */
  background-color: #B8ADC0 !important;
  transition: background-color 0.3s ease !important;
}

.splide__pagination__page.is-active {
  background-color: #F78B00 !important;
}

.splide__arrows {
  top: auto !important;
  bottom: 3rem !important; /* posiciona setas alinhadas com a paginação */
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  padding: 0 2rem !important;
  position: absolute !important;
  z-index: 10 !important;
}

.splide__arrow {
  background-color: transparent !important;
  border: none !important;
  color: #F78B00 !important;
  font-size: 1.5rem !important;
  cursor: pointer !important;
  transition: color 0.3s ease !important;
}

.splide__arrow:hover {
  color: #B8ADC0 !important;
}
